// MOBILE STYLING

footer {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.white-text {
    color: $footer-text-color;
    margin: 0;
}

.footer {
    &__title {
        min-width: 100%;
        display: flex;
        padding-top: 2rem;
        h1 {
            color: $footer-text-color;
            font-size: 24px;
        }
    }
    &__icons {
        display: flex;
        min-width: 10rem;
        height: 20px;
    }
    &__contact {
        margin: 2rem 0;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.icons {
    &__image-wrap {
        min-width: 3.33rem;
        height: 100%;
    }
    &__image {
        min-width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        &--instagram {
            background-image: url(/sprint-1/assets/icons/svg/Icon-instagram.svg);
        }
        &--facebook {
            background-image: url(/sprint-1/assets/icons/svg/Icon-facebook.svg);
        }
        &--twitter {
            background-image: url(/sprint-1/assets/icons/svg/Icon-twitter.svg);
        } 

    }
}

.contact {
    &__item {
        min-width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.62rem;
        h4 {
            color: $footer-text-color;
            font-size: 0.82rem;
            // height: 2.5rem;
        }
        &--light {
            font-weight: lighter;
        }
        &--margin-top {
            margin-top: 1rem;
        }
    }
    
}

// TABLET STYLING

footer {
    @include tablet {
        padding: 0 1.5rem;
    }
}

.footer {
    @include tablet {
        &__header {
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        &__subheader {
            width: 26.25rem;
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }
        &__title {
            min-width: 15.5rem;
            h1 {
                font-size: 36px;
            }
        }
        &__logo {
            min-width: 7.5rem;
            min-height: 0.88rem;
        }
        &__contact {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.logo {
    @include tablet {
        &__image {
            width: 100%;
            height: 0.88rem;
            background-image: url(../assets/logo/Logo-bandsite.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.contact {
    @include tablet {
        &__item {
            min-width: 30%;
            h4 {
                font-size: 14px;
            }
        }
    }
}

// DESKTOP STYLING

footer {
    @include desktop {
        padding: 0 11.25rem;
    }
}

.footer {
    @include desktop {
        &__header {
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        &__subheader {
            width: 30rem;
            justify-content: space-between;
        }
        &__title {
            padding-top: 3rem;
            h1 {
                margin-bottom: 0;
            }
        }
        &__icons {
            display: flex;
            min-width: 10rem;
            height: 20px;
        }
        &__logo {
            min-height: 1.5rem;
        }
        &__contact {
            min-width: 50%;
            margin: 3.5rem 0;
        }
    }
}

.icons {
    @include desktop {
        &__image-wrap {
            min-width: 4rem;
            height: 100%;
        }
    }
}

.logo {
    @include desktop {
        &__image {
            height: 1.5rem;
        }
    }
}

