$nav-background-color: #323232;
$nav-text-color: #FFFFFF;
$nav-active-color: #FFFFFF;
$hero-text-color: #FFFFFF;
$paragraph-background-color: #FFFFFF;
$paragraph-text-color: #323232;
$image-background-color: #FAFAFA;
$footer-background-color: #323232;
$footer-text-color: #FFFFFF;


