@font-face {
    font-family: 'Avenir-Bold';
    src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"),
    url(../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"),
    url(../assets/fonts/AvenirNextLTPro-Demi.woff) format('woff');
}

@font-face {
    font-family: 'Avenir-Regular';
    src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"),
    url(../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
}