@font-face {
  font-family: 'Avenir-Bold';
  src: url(/sprint-1/assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(/sprint-1/assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
}

@font-face {
  font-family: 'Avenir-Demi';
  src: url(/sprint-1/assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(/sprint-1/assets/fonts/AvenirNextLTPro-Demi.woff) format("woff");
}

@font-face {
  font-family: 'Avenir-Regular';
  src: url(/sprint-1/assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(/sprint-1/assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

header {
  background-color: #323232;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  width: 100%;
}

h1, h2, h4 {
  color: #323232;
}

h1 {
  font-family: 'Avenir-Bold';
}

h2, h5 {
  font-family: 'Avenir-Demi';
}

h4 {
  font-family: 'Avenir-Regular';
}

p {
  font-family: 'Avenir-Regular';
  font-weight: lighter;
  color: #323232;
}

footer {
  min-width: 320px;
  background-color: #323232;
}

header {
  min-width: 320px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 7.5rem;
  min-height: 0.20rem;
  padding-top: 0.7rem;
}

.header__logo img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__navbar ul li {
  width: 10rem;
  text-align: center;
}

.primary-nav {
  width: 100%;
  font-family: "Avenir-Demi";
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.primary-nav--active::after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: -50px;
  top: 26px;
  height: 4px;
  width: 10rem;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  header {
    min-width: 768px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    padding-bottom: 0.8rem;
  }
  .header__navbar {
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .primary-nav--active::after {
    top: 43px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    min-width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .header__container {
    width: 35.75rem;
    padding-left: 11.25rem;
  }
  .header__navbar {
    width: 13.5rem;
    padding-left: 3.5rem;
  }
  .header__navbar li {
    width: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .primary-nav--left-margin {
    margin-left: 3.5rem;
  }
  .primary-nav--active::after {
    width: 5rem;
    left: 0px;
  }
}

.hero {
  width: 100%;
  height: 183px;
  background-image: url(../assets/images/concert-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  margin: 0 16px;
}

.hero__title {
  color: #FFFFFF;
  width: 70%;
}

h1 {
  font-size: 24px;
}

.images {
  width: 288px;
  height: 145px;
  margin: 16px 16px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero__container {
    margin: 0 1.5rem;
  }
  .hero__title {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 670px;
  }
  .hero__container {
    width: 50%;
    margin: 0 11.25rem;
  }
}

.biography {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.biography__header {
  width: 100%;
}

.header__title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin: 0;
}

.header__image {
  min-width: 90vw;
  min-height: 8.15rem;
}

.header__image img {
  width: 100%;
  height: 100%;
}

.header__quote {
  line-height: 1.23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.20rem;
}

.header__quote h4 {
  color: #323232;
  font-size: 13px;
  margin: 0 0 2rem;
}

.header__quote--small {
  font-size: 12px;
}

.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__title h4 {
  color: #323232;
  font-size: 14px;
  height: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.article__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__paragraph {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.article__paragraph--extra-margin {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 2.25rem;
    padding: 3rem 0 2rem;
  }
  .header__image {
    width: 45rem;
    height: 22.62rem;
  }
  .header__image img {
    width: 100%;
    height: 100%;
  }
  .header__quote h4 {
    line-height: 2rem;
    color: #323232;
    font-size: 1.5rem;
    font-family: 'Avenir-Bold';
    margin: 1rem 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  .light-font {
    font-size: 12px;
    font-family: 'Avenir-Regular';
    font-weight: lighter;
  }
}

.gallery {
  background-color: #FAFAFA;
  min-width: 100%;
  padding: 0 1rem;
}

.gallery h1 {
  padding: 2rem 0 1.5rem;
  margin: 0;
}

.gallery__container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
}

.gallery__container div {
  min-height: 8.15rem;
  margin-bottom: 1rem;
}

.gallery__container div img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 1.5rem;
  }
  .gallery h1 {
    font-size: 36px;
  }
  .gallery__container {
    padding-bottom: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery__container div {
    width: 29.16vw;
    height: 16.40vw;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    padding: 0 11.25rem;
  }
  .gallery h1 {
    padding: 3rem 0 4rem;
  }
  .gallery__container {
    padding-bottom: 1rem;
  }
  .gallery__container div {
    width: 23.8vw;
    height: 13.35vw;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.white-text {
  color: #FFFFFF;
  margin: 0;
}

.footer__title {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.footer__title h1 {
  color: #FFFFFF;
  font-size: 24px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 10rem;
  height: 20px;
}

.footer__contact {
  margin: 2rem 0;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icons__image-wrap {
  min-width: 3.33rem;
  height: 100%;
}

.icons__image {
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icons__image--instagram {
  background-image: url(/sprint-1/assets/icons/svg/Icon-instagram.svg);
}

.icons__image--facebook {
  background-image: url(/sprint-1/assets/icons/svg/Icon-facebook.svg);
}

.icons__image--twitter {
  background-image: url(/sprint-1/assets/icons/svg/Icon-twitter.svg);
}

.contact__item {
  min-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.62rem;
}

.contact__item h4 {
  color: #FFFFFF;
  font-size: 0.82rem;
}

.contact__item--light {
  font-weight: lighter;
}

.contact__item--margin-top {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__subheader {
    width: 26.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__title {
    min-width: 15.5rem;
  }
  .footer__title h1 {
    font-size: 36px;
  }
  .footer__logo {
    min-width: 7.5rem;
    min-height: 0.88rem;
  }
  .footer__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .logo__image {
    width: 100%;
    height: 0.88rem;
    background-image: url(../assets/logo/Logo-bandsite.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .contact__item {
    min-width: 30%;
  }
  .contact__item h4 {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    padding: 0 11.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .footer__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__subheader {
    width: 30rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__title {
    padding-top: 3rem;
  }
  .footer__title h1 {
    margin-bottom: 0;
  }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 10rem;
    height: 20px;
  }
  .footer__logo {
    min-height: 1.5rem;
  }
  .footer__contact {
    min-width: 50%;
    margin: 3.5rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .icons__image-wrap {
    min-width: 4rem;
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .logo__image {
    height: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */