@font-face {
  font-family: 'Avenir-Bold';
  src: url(/sprint-1/assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(/sprint-1/assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
}

@font-face {
  font-family: 'Avenir-Demi';
  src: url(/sprint-1/assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(/sprint-1/assets/fonts/AvenirNextLTPro-Demi.woff) format("woff");
}

@font-face {
  font-family: 'Avenir-Regular';
  src: url(/sprint-1/assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(/sprint-1/assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

header {
  background-color: #323232;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  width: 100%;
}

h1, h2, h4 {
  color: #323232;
}

h1 {
  font-family: 'Avenir-Bold';
}

h2, h5 {
  font-family: 'Avenir-Demi';
}

h4 {
  font-family: 'Avenir-Regular';
}

footer {
  min-width: 320px;
  background-color: #323232;
}

header {
  min-width: 320px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__container {
  width: 7.5rem;
  height: 14px;
  padding: 16px 0;
}

.logo__image {
  width: 100%;
  height: 100%;
  background-image: url(../assets/logo/Logo-bandsite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
  width: 10rem;
  text-align: center;
}

li .primary-nav {
  width: 100%;
  font-family: "Avenir-Demi";
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  position: relative;
}

li .primary-nav--active::after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: -50px;
  top: 30px;
  height: 4px;
  width: 10rem;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  header {
    min-width: 768px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .navbar__container {
    width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .logo__container {
    padding: 30px 0 0;
  }
}

@media screen and (min-width: 768px) {
  li .primary-nav--active::after {
    bottom: 30px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    min-width: 1440px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .navbar__container {
    width: 35.75rem;
    padding-left: 11.25rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  nav {
    width: 13.5rem;
    padding-left: 3.5rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  li {
    width: 5rem;
  }
  li .primary-nav--left-margin {
    margin-left: 3.5rem;
  }
  li .primary-nav--active::after {
    width: 5rem;
    left: 0px;
  }
}

.hero {
  width: 100%;
  height: 183px;
  background-image: url(../assets/images/concert-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  margin: 0 16px;
}

.hero__title {
  color: #FFFFFF;
  width: 70%;
}

h1 {
  font-size: 24px;
}

.images {
  width: 288px;
  height: 145px;
  margin: 16px 16px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero__container {
    margin: 0 1.5rem;
  }
  .hero__title {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 670px;
  }
  .hero__container {
    width: 50%;
    margin: 0 11.25rem;
  }
}

header {
  min-width: 320px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__container {
  width: 7.5rem;
  height: 14px;
  padding: 16px 0;
}

.logo__image {
  width: 100%;
  height: 100%;
  background-image: url(../assets/logo/Logo-bandsite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
  width: 10rem;
  text-align: center;
}

li .primary-nav {
  width: 100%;
  font-family: "Avenir-Demi";
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  position: relative;
}

li .primary-nav--active::after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: -50px;
  top: 30px;
  height: 4px;
  width: 10rem;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  header {
    min-width: 768px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .navbar__container {
    width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .logo__container {
    padding: 30px 0 0;
  }
}

@media screen and (min-width: 768px) {
  li .primary-nav--active::after {
    bottom: 30px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    min-width: 1440px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .navbar__container {
    width: 35.75rem;
    padding-left: 11.25rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  nav {
    width: 13.5rem;
    padding-left: 3.5rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  li {
    width: 5rem;
  }
  li .primary-nav--left-margin {
    margin-left: 3.5rem;
  }
  li .primary-nav--active::after {
    width: 5rem;
    left: 0px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

h1 {
  font-size: 24px;
}

h2, h4 {
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-size: 14px;
  margin: 0;
}

h4 {
  font-size: 13px;
  height: 2.5rem;
  margin-top: 1rem;
}

.title__container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.title__text {
  color: #FFFFFF;
}

.icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 10rem;
  height: 20px;
}

.icons__item-container {
  min-width: 3.33rem;
  height: 100%;
}

.icons__item {
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icons__item--instagram {
  background-image: url(/sprint-1/assets/icons/svg/Icon-instagram.svg);
}

.icons__item--facebook {
  background-image: url(/sprint-1/assets/icons/svg/Icon-facebook.svg);
}

.icons__item--twitter {
  background-image: url(/sprint-1/assets/icons/svg/Icon-twitter.svg);
}

.footer-logo {
  display: none;
}

.contact__container {
  margin: 2rem 0;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__item {
  min-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.62rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container__title-icons-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__title-icons {
    width: 26.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .title__container {
    min-width: 15.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo__container {
    min-width: 7.5rem;
    min-height: 0.88rem;
  }
  .footer-logo__image {
    width: 100%;
    height: 0.88rem;
    background-image: url(../assets/logo/Logo-bandsite.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .contact__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__item {
    min-width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  h4 {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    padding: 0 11.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .container__title-icons-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__title-icons {
    width: 30rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .title__container {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .icons__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 10rem;
    height: 20px;
  }
  .icons__item-container {
    min-width: 4rem;
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .footer-logo__container {
    min-height: 1.5rem;
  }
  .footer-logo__image {
    height: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .contact__container {
    min-width: 50%;
    margin: 3.5rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .title__text {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */