@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }       
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content
    }
}

@mixin button {
    color: $global-button-text-color;
    background-color: $global-button-color;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: 5px;
    border: none;
}

@mixin body-header {
    font-family: 'Avenir-Demi';
    color: grey;
    font-size: 0.81rem;
    padding-bottom: 1rem;
    color: $body-header-text-color;
}