// MOBILE STYLING

header {
    min-width: 320px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__logo {
        width: 7.5rem;
        min-height: 0.2rem;
        padding-top: 0.7rem;
        img {
            width: 100%;
            object-fit: fill;
        }
    }
    &__navbar {
        display: flex;
        align-items: flex-end;
        ul {
            display: flex;
            justify-content: space-around;
            li {
                width: 10rem;
                text-align: center;

            }
        }
    }

}

.primary-nav {
    width: 100%;
    font-family: "Avenir-Regular";
    font-size: 0.87rem;
    color: $nav-text-color;
    text-decoration: none;
    text-align: center;
    position: relative;
    &--not-active {
        &:hover {
            color: darkgoldenrod;
            font-size: medium;
            font-weight: bold;
        }
    }
    &--active {
        color: $nav-active-color;
        font-weight: bold;
        &::after {
            content:'';
            position: absolute;
            bottom: 50px;
            left:-50px;
            top: 20px;
            height: 5px;
            width: 10rem;
            background-color: $nav-active-color;
        }
        &:hover {
                color: darkgoldenrod;
                font-size: medium;
                &::after {
                    background-color: darkgoldenrod;
                    top: 33px;
                    left: -5px;
                }
        } 
    }

}

// TABLET STYLING

header {
    @include tablet {
        min-width: 768px;
        justify-content: flex-start;
    }
}

.header {
    @include tablet {
        &__container {
            width: 30rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        &__logo {
            padding-bottom: 0.8rem;
        }
        &__navbar {
            width: 60%;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}

.primary-nav {
    @include tablet {
        &--active {
            &::after {
            top: 40px;
            left: -10px;
            width: 5.5rem;
            }
        }
    }
}

// DESKTOP STYLING

header {
    @include desktop {
        min-width: 1440px;
    }
}

.header {
    @include desktop {
        &__container {
            width: 35.75rem;
            padding-left: 11.2rem;
        }    

        &__navbar {
            width: 13.5rem;
            padding-left: 6rem;
            li {
                width: 5.5rem;
            }
        }
    }    
}

.primary-nav {
    @include desktop {
        &--left-margin {
            margin-left: 6rem;
        }
        &--active {
            &::after {
                width: 5rem;
                left: -5px;
            }
        }
    }
}

